*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#bigger-container{
    height: 100vh;
    width: 100vw;
}
#upperdiv{
    width: 100vw;
    height: 160px;
    background-color: antiquewhite;
    overflow-y: hidden;
}
#newgamebtn{
    left: 70px;
    top: 35%;
    position: relative;
    width: 180px;
    height: 50px;
    font-size: 20px;
}
#totalscore{
    width: 600px;
    height: 94px;
    left: 300px;
    position: relative;
    background-color: white;
    top: -12%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    padding-right: 0;
}
.totalscores{
    background-color: aqua;
    width: 280px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#totalrealscore1,#totalrealscore2{
    position: relative;
    right: -10px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playersname1,#playersname2{
    position: relative;
    width: 180px;
    height: 70px;
    font-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mode{
    width: 180px;
    left: 1000px;
    height: 50px;
    top: -55%;
    background-color: aqua;
    position: relative;
    font-size: 30px;
    padding: 10px 35px;
    overflow-y: hidden;
}
#upperbtndivs{
    width: 220px;
    height: 100px;
    background-color: aquamarine;
    left: 980px;
    position: absolute;
    top: 107px;
    padding: 3px;
    display: none;
    z-index: 2;
}
#normalbtn, #timedbtn{
    width: 208px;
    height: 40px;
    margin: 3px;
    font-size: 20px;
}
#middlediv{
    width: 100vw;
    height: 160px;
    background-color: bisque;
    overflow-y: hidden;
}
#startdiv{
    width: 300px;
    height: 160px;
    background-color: aliceblue;
    font-size: 70px;
    padding: 40px;
}
#startdiv:hover,#newgamebtn:hover,#mode:hover{
    cursor: pointer;
}
#turnsdiv{
    background-color: azure;
    left: 300px;
    position: relative;
    width: 940px;
    height: 160px;
    top: -160px;
}
#lowerdiv{
    width: 100vw;
    height: 924px;
    background-color: aquamarine;
}
#xocontainer{
    background-color: white;
    width: 700px;
    height: 700px;
    top: 50px;
    left: 150px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
}
.boxes{
    width: 230px;
    height: 230px;
    background-color: antiquewhite;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 65px;
}
#enternames{
    width: 100vw;
    height: 60px;
    background-color: antiquewhite;
    top: 140px;
    position: relative;
    float: left;
}
.players{
    height: 60px;
    
}
#player1,#player2{
    width: 44vw;
    font-size: 30px;
}
#player2{
    right: 0;
    position: relative;
}
.playersdivs{
    float: left;
    position: relative;
    margin: 0 px;
}
#submitnames{
    width: 90px;
    height: 60px;
    margin-left: 30px;
    font-size: 20px;
}
 #options,#options1,#options2,#options3,#options4,#options5,#options6,#options7,#options8{ 
    font-size: 150px;
    background-color: antiquewhite;
    width: 220px;
    position: relative;
    left: -60px;
    height: 230px;
    display: none;
}
#option1, #option2,#option11,#option21,#option12,#option22,#option13,#option23,#option14,#option24,#option15,#option25,#option16,#option26,#option17,#option27,#option18,#option28{
    font-size: 170px;
    float: left;
    position: relative;
    padding: 9px ;
    background-color: antiquewhite;
}

.lines{
    position: absolute;
    height: 7px;
    width: 700px;
    z-index: 2;
    background-color: black;
    display: none;
}

#line2{
    left: 150px;
    top: 720px;
}
#line1{
    left: 150px;
    top: 500px;
}
#line3{
    left: 150px;
    top: 950px;
}
#line4{
    left: -80px;
    top: 716px;
    transform: rotate(90deg);
}
#line5{
    left: 150px;
    top: 716px;
    transform: rotate(90deg);
}
#line6{
    left: 380px;
    top: 716px;
    transform: rotate(90deg);
}
#line7{
    width: 900px;
    left: 30px;
    top: 700px;
    transform: rotate(45deg);
}
#line8{
    width: 900px;
    left: 70px;
    top: 700px;
    transform: rotate(-45deg);
}

#turnsdiv{
    padding: 20px;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
